
.h1_top {
    text-align: center;
    padding: 0.5em;
}
.divide_hr > hr {
    align-items: center;
    border:solid 0.em;
    width: 50%;
}

/*페이지 탐색 버튼*/
search_btn {
    background-color: rgb(226, 226, 226);
    border: none;
    display: inline-block;
}
/*페이지 탐색 버튼 액션 이벤트*/
serach_btn:hover {
    background-color: #778C86;
    transition: 0s;
}

/*항목 선택 버튼*/
select_btn {
    padding-top: 20px;
    background-color: rgb(226, 226, 226);
    width: 10em;
    height: 3em;
    border: none;
    display: inline-block;
    margin: 0.5em 0.5em;
}
/*항목 선택 버튼 액션 이벤트*/
select_btn:hover{
    background-color: #778C86;
    transition: 0s;
}

/*항목 선택 버튼 중앙 정렬*/
.btn-group {
    text-align: center;
}

.btn_cataloague {
    text-align: center;
}

/*h3 중앙 정렬*/
h3_center {
    text-align: center;
}

/**/

/*자주 묻는 질문 설명*/
.text_hr{
    margin: 0 auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    align-items: center;
    border:solid 0em;
    width: 40%;
}

/*카테고리*/
.text_hr_1{
    font-size: 0.8em;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 0.6em;
    align-items: center;
    border:solid 0px;
    width: 40%;
}

/*검색창 전체*/
.search {
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    align-items: center;
    width: 70%;
    color: rgb(226, 226, 226);
}

/*검색창*/
input {
    width: 20em;
    height: 0.75em;
    padding: 0.5em;
    outline: none;
}

/*셀렉트 박스*/
select {
    padding: 0.3em;
}
.ques {
    font-size: 1.2em;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    align-items: center;
    border:solid 1em;
    width: 40%;
    border: none;
    color: rgb(226, 226, 226);
    -webkit-text-fill-color: black;
}

/*Q 줄 간격*/
.ques > div {
    margin-bottom: 3em;  
}

/*페이지 넘김 버튼*/
go_to_btn_search {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    padding-top: 0.5em;
    background-color: rgb(226, 226, 226);
    width: 2em;
    height: 2em;
    border: none;
    display: inline-block;
    margin: 0.01em;
}

/*페이지 넘김 버튼 액션 이벤트*/
go_to_btn_search:hover{
    background-color: #778C86;
    transition: 0s;
}

/*Q 버튼 동그란거..*/
ques_btn {
    text-align: center;
    color:aliceblue;
    background-color: #778C86;
    width: 1.5em;
    height: 1.5em;
    border: none;
    display: inline-block;
    border-radius:1em;
}