@charset "utf-8";

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;    /*굵기는 100, 300, 400, 500, 700이 있음.*/
    font-style: normal;
}
.page_top_1{
    display: inline-block;
    margin-left:auto; 
    margin-right:auto;
    width: 60%;
    display: table;
    margin: 1em auto;
}
.page_name_1 {
    margin: 1em auto;
    display: table;
    font-size: 2.2em;
}
.page_top_1 .hr_1_1{
    margin: 2em;
    text-align: center;
}
.page_path_1 {
    display: inline;
    float: left;
    padding-left: 3.5em;
    font-size: 0.6em;
    color: rgb(180, 180, 180);
    margin-bottom: 3em;
}  
/*선택 버튼*/
.pick_btn{
    text-align: center;
}

.pick_new input[type="radio"] {
    display: none;
}

.pick_new input[type="radio"] + span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}
.pick_new input[type="radio"]:checked + span {
    background-color: #000;
    color: #ffffff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding:25px 20px;
}

.container .heading{
    font-size: 40px;
    margin-bottom: 20px;
    color:#334;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:20px;
}

.container .box-container .box{
    background-color: #fff;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    display: none;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3),
.container .box-container .box:nth-child(4),
.container .box-container .box:nth-child(5),
.container .box-container .box:nth-child(6){
    display: inline-block;
}

.container .box-container .box .image{
    margin-bottom: 20px;
    overflow: hidden;
    height: 250px;
    border-radius: 5px;
}

.container .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.container .box-container .box:hover .image img{
    transform: scale(1.1);
}

.container .box-container .box .content h3{
    font-size: 20px;
    color:#334;
}

.container .box-container .box .content p{
    font-size: 15px;
    color:#777;
    line-height: 2;
    padding:15px 0;
}

.container .box-container .box .content .btn{
    display: inline-block;
    padding:10px 30px;
    border:1px solid #334;
    color:#334;
    font-size: 16px;
}

.container .box-container .box .content .btn:hover{
    background-color: #778C86;
    border-color: #778C86;
    color:#fff;
}