.bgimg{
    height: 120%;
    width: 80%;
    margin-left: 10%;
    background-repeat : no-repeat;
    background-size: cover;
}

.enotice{
    padding-top: 3em;
    padding-left: 11em;
    font-size: 20px;
}