.bgimg{
    margin-top:8em;
    margin-bottom: 5em;
    height: 120%;
    width: 80%;
    margin-left: 10%;
    background-repeat : no-repeat;
    background-size: cover;
}

.enotice{
    padding-left: 11em;
    font-size: 20px;
}