/*@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}*/

body {
  margin: 0 auto;
}

header {
  box-shadow: 0 10px 10px rgba(2, 3, 3, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Logo {
  padding: 1rem 0 1rem 0;
}

.Logo > a > img {
  box-sizing: border-box;
  width: 200px;
  height: 100px;
  object-fit: contain;
}

header a {
  text-decoration: none;
  color: #000;
}

.a12 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  margin-right: 12rem;
}

.Header-SignUp {
  display: flex;
  font-weight: 100;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem 1rem 0 0;
  /*margin-left:69%*/
}

.Header-catalogue {
  display: flex;
  justify-content: flex-start;
}

.Header-catalogue > nav {
  display: flex;
  align-items: center;
  height: auto;
}

ul li {
  list-style-type: none;
}

#gnb {
  display: flex;
  padding: 0%;
  margin: 0;
  z-index: 999;
  margin-left: auto;
}

.dept1 {
  position: relative;
  text-align: center;
}

.dept1 > a {
  display: block;
  padding: 1rem 2.4rem;
}

.inner-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 1rem;
  width: 100%;
  padding: 0;
}

#gnb .dept2 {
  padding: 1rem 0;
  color: #555;
  font-weight: 300;
  text-align: center;
}

#gnb .dept2 > a:hover,
#gnb .dept2 > a:active,
#gnb .dept2 > a:focus {
  font-weight: bold;
}

.hd_bg {
  display: none;
  position: relative;
  z-index: 2;
  height: 244px;
  box-shadow: 0 3px 3px rgba(2, 3, 3, 0.1) inset;
  background: #fff;
}

.Header-search {
  display: flex;
  padding: 0 1rem 1rem 0;
  align-items: flex-end;
}

.Header-search > input {
  border: 1px #000 solid;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}

.Header-search-Button {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: flex-end;
}

.Header-search-Button > img {
  box-sizing: border-box;
  width: 25px;
  height: auto;
  object-fit: contain;
}

article {
  /* header 높이만큼 margin-top을 줘서 헤더에 가려지지 않게 함 */
  margin-top: 136.5px;
}

.mobile {
  display: none;
  margin-right: 1rem;
}

.mobile-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 32px;
  height: 32px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.mobile-button div {
  width: 100%;
  height: 3px;
  background-color: #223;
}

@media (max-width: 1280px) {
  .a12 {
    margin-right: 7rem;
  }
}

@media (max-width: 1024px) {
  .a12 {
    margin-right: 0;
  }

  .dept1 > a {
    padding: 1rem 1.8rem;
  }
}

@media (max-width: 768px) {
  .a12 {
    display: none;
  }

  .mobile {
    display: block;
  }
}
