@media only screen and (min-width: 1024px) {
    *{
        -ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: -moz-none;
        user-select: none;
    }
    .page_top{
        width: 60%;
        display: table;
        margin: 0.5em auto;
        margin-top: 5em;
    }
    .page_name {
        margin: 1em auto;
        display: table;
        font-size: 1.8em;
        font-weight: 800;
    }
    .hr_1{
        margin-right: 2em;
        margin-left: 2em;
    }
    .page_path {
        display: inline;
        padding-left: 3.5em;
        font-size: 0.6em;
        color: rgb(180, 180, 180);
        margin-bottom: 3em;
    }  
    .profile{
        display: table;
        margin: 1em auto;
        width: 10%;
        height: 20%;
        object-fit: cover;
    }
    .photo_select{
        display: block; 
        margin: 12px auto; 
        border: none;
        background-color: rgb(142, 138, 138);
        padding: 5px;
    }
    .select {
        border: none;
        background-color: rgb(212, 210, 210);
        padding: 5px;
    }
    table{
        margin : 4px auto;
        padding: 1em;
        border: none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .num{
        padding: 5px;
        font-weight: normal;
    }
    input[type="radio"]{
        accent-color: #778C86;
        margin-left: 2em;
    }
    .mem_table {
        border: none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-collapse: collapse;
    }
    th, td {
        border: none;
        font-size: 13px;
        padding: 12px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }
    .btn-group {
        text-align: center;
    }

    btn {    
        display: inline-block;
        padding: 1em;
        padding-top: 0.5em;
        width: 7em;
        height: 1em;
        border: none;
        margin: 1em 0.3em;
    }
    .btn1 {
        background-color: rgb(142, 138, 138);
        text-emphasis-color: white;
    }
    .btn2 {
        background-color: rgb(212, 210, 210);
    }
    btn:hover{
        background-color: #778C86;
        transition: 0s;
    }
}