.h1_top {
    text-align: center;
    padding: 3em;
}
.divide_hr > hr {
    align-items: center;
    border:solid 0.em;
    width: 50%;
}

.page_top{
    display: inline-block;
    width: 60%;
    display: table;
    margin: 1em auto;
}
.page_name {
    margin: 1em auto;
    display: table;
    font-size: 2em;
}
.page_top .hr_1{
    margin: 2em;
}
.page_path {
    display: inline;
    float: left;
    padding-left: 3.5em;
    font-size: 0.6em;
    color: rgb(180, 180, 180);
    margin-bottom: 3em;
}
.hr_1{
    margin-top: 4em;
    border : 0px;
    border-top: 1px solid;
}

.container_1 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    padding-bottom: 140px;
    padding-top: 90px;
  }

.common {
    background-color: rgb(226, 226, 226);
    display: inline-block;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 4em;
    border: none;
    margin: 0.5em 0.5em;
    font-size: 16px;
    cursor: pointer;
}

.common:hover {
    background-color: #778C86;
    transition: 0s;
}

.auother {
    background-color: rgb(226, 226, 226);
    display: inline-block;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 4em;
    border: none;
    margin: 0.5em 0.5em;
    font-size: 16px;
    cursor: pointer;
}

.auother:hover {
    background-color: #778C86;
    transition: 0s;
}