.Inquire-Title{
    margin: 200px auto 100px;
    text-align: center;
    font-size: 20px;
}

/* 목록창 */
.Tap-Choice {
    display: flex;
    justify-content: center;
    position: relative;
  }

.Tap-Choice div {
    margin: 0 10px 0;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.Tap-Choice button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #b3b3b3; /* 모든 자식 요소의 기본 텍스트 색상 */
}

.Tap-animation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.5s;
}

.Tap-Choice div.active .Tap-animation {
    width: 100%;
}

.Tap-Choice div.active button {
    color: #000000; /* 클릭된 요소의 텍스트 색상 */
}

.Tap-Choice div:first-child.active button {
    color: #000000; /* 첫 번째 자식 요소인 "Bid status"의 텍스트 색상 */
}

hr {
    width: 75%;
    margin: -1px auto;
}

.Inquire-Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 100px;

}

.Question-Body{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 20px 0;
}

.Question-Body div{
    width: 700px;
}


.Question-Title{
    display: flex;
    align-items: center;
    height: 50px;
    font-weight: 500;
    background-color: #778C86;
    color: #fff;
    border: none;
}

.Question-Title > div{
    margin: 0 10px;
}

.Question-Title > div > span{
    font-size: 25px;
}

.Question-Title > button{
    background-color:transparent;
    border: none;
    margin: 0 10px;
}

.Question-Title img{
    box-sizing: border-box;
    width: 19px;
    height: 19px;
    object-fit: cover;
}


.Inquire-Content{
    display: flex;
    justify-content: center;
    background-color: #e0e0e0;
}

.Inquire-Content > div{
    width: 650px;
}

.Inquire-Answer{
    display: flex;
    background-color: #e0e0e0;
    border: 1px solid #c0c0c0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    height: auto;
}

.Inquire-Answer > div{
    margin: 5px 10px;
}

.Inquire-Answer > div > span{
    font-size: 25px;
}