@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.page_top{
    display: inline-block;
    margin-left:auto; 
    margin-right:auto;
    width: 60%;
    display: table;
    margin: 1em auto;
}
.page_name {
    margin: 1em auto;
    display: table;
    font-size: 2em;
    font-weight: 500;
}
.page_top .hr_1{
    margin: 2em;
}
.page_path {
    display: inline;
    float: left;
    padding-left: 3.5em;
    font-size: 0.6em;
    color: rgb(180, 180, 180);
    margin-bottom: 3em;
}  
.my_img {
    text-align: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
