
/*경로*/
.rudfh {
  font-size: 15px;
  text-align: center;
  color: #949494;
  padding-bottom: 1em;
}


.h1_top {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
}
#wrap {
  width: 50%;
  border: 1px solid red;
  margin: 0 auto;
  padding-top: 10px;
  overflow: hidden;
}

.divide_hr > hr {
  align-items: center;
  border:solid 0.em;
  width: 50%;
}

.container {
  margin: 0 auto;
  text-align: center;
  align-items: center;
  border:solid 1em;
  width: 50%;
  border: 1px;
  padding-bottom: 1px;
}

.title{
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2{
  text-align: center;
}

.hr_1{
  align-items: center;
  border:solid 0.em
}

.hr_2{
  margin-top: 45px;
}

div .btn_Q{
  border: none;
  width: 100px;
  height: 30px;
  clear: right;
  float: right;
}

.btn_Q:hover {
  background-color: #bebebe;
  transition: 0s;
}



table {
  margin-top: 3em;
  padding-top: 1em;
  width: 50%;
  border-top: 1px solid #444444;
  align-items: center;
  
  border: 1px #a39485 solid;
  font-size: .9em;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
th {
  text-align: left;
}
  
thead {
  font-weight: bold;
  color: #fff;
  background: #778C86;
}
  
 td, th {
  padding: 1em .5em;
  vertical-align: middle;
}
  
 td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}

a {
  color: #778C86;
}
  
 @media all and (max-width: 768px) {
    
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  th {
    text-align: right;
  }
  
  table {
    position: relative; 
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  
  thead {
    float: left;
    white-space: nowrap;
  }
  
  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  tr {
    display: inline-block;
    vertical-align: top;
  }
  
  th {
    border-bottom: 1px solid #a39485;
  }
  
  td {
    border-bottom: 1px solid #e5e5e5;
  }
  
  
  }