.Bid-Range{
    margin: 50px auto 120px;
}

#TitleBid{
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
    margin: 200px auto 50px;
    justify-content: center;
}

/* 목록창 */
.Tap-Choice {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .Tap-Choice div {
    margin: 0 10px 0;
    background-color: transparent;
    cursor: pointer;
    position: relative;
  }

  .Tap-Choice button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #b3b3b3; /* 모든 자식 요소의 기본 텍스트 색상 */
  }

  .Tap-animation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.5s;
  }

  .Tap-Choice div.active .Tap-animation {
    width: 100%;
  }

  .Tap-Choice div.active button {
    color: #000000; /* 클릭된 요소의 텍스트 색상 */
  }

  .Tap-Choice div:first-child.active button {
    color: #000000; /* 첫 번째 자식 요소인 "Bid status"의 텍스트 색상 */
  }

  .Bid-Range hr {
    width: 75%;
    margin: -2px auto;
  }

.Bid-List{
    display: flex;
    justify-content: center;
}

.Bid-Art-Image{
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-right: 50px;
}

.Bid-Art-Image > img{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.Bid-Information{
    display: flex;
    border: 1px solid rgb(185, 185, 185);
    justify-content: space-between;
    margin-top: 100px;
}

.Bid-Line{
    border: 1px solid #bbb;
    height: 50%;
    transform: translate(50%, 50%);
}

.Bid-First{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px 0;
}

.Bid-First > div {
    margin: 7px 0;
}

.Bid-First > div:first-child{
    font-weight: 700;
}

.Bid-Second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px 0;
}

.Bid-Second > div{
    margin: 10px 0;
}


.Bid-Second > div:first-child{
    font-weight: 700;
}


.Bid-Third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px 0;
}

.Bid-Third > div{
    margin: 10px 0;
}

.Bid-Third > div:first-child{
    font-weight: 700;
}

.Bid-Fourth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px 0;
}

.Bid-Fourth > div{
    margin: 10px 0;
}

.Bid-Fourth > div:first-child{
    font-weight: 700;
}

.Bid-Fourth button{
    width: 110px;
    font-size: 15px;
    background-color: #b3b3b3;
    color: #231f22;
    border:none
}