@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.page_top{
    display: inline-block;
    margin-left:auto; 
    margin-right:auto;
    width: 60%;
    display: table;
    margin: 1em auto;
}
.page_name {
    margin: 1em auto;
    display: table;
    font-size: 2em;
    font-weight: 500;
}
.page_top .hr_1{
    margin: 2em;
}
.page_path { 
    margin-left: 4%;
    font-size: 0.6em;
    color: rgb(180, 180, 180);
}
/*이미지*/
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 280px;
    margin-left:18em; 
    margin-right:18em;
}

.no-Bid-Art{
    position: absolute;
    margin: 7rem 0;
    font-size: 20px;
    color: #b3b3b3;
}

.product-works {
    display: flex;
    position: relative;
    overflow: hidden; 
    align-items: center;
}
.product-works img {
    width: 200px;
    height: 250px;
    padding: 3px;
    object-fit: contain;
}
/*버튼*/
.btnss{
    display: flex;
    position: absolute;
    justify-content: space-between;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.product-works:hover .btnss {
    display: flex; 
}
.btn{
    
    font-size: 12px;
    color: rgba(255, 255, 255, 0.903);
    width: 100px;
    background-color: transparent;
    border: none;
    opacity: 1;
    transition: opacity 0.3s ease;
    font-weight: 600;
  }
.product-works:hover img {
    filter: brightness(0.5) blur(2px);
}
.product-works:hover .btnss {
    opacity: 1; /* 마우스 오버 시 텍스트 표시 */
}

.button-Location{
    display: flex;
    position: absolute;
    justify-content: space-between;
}
  