.page_top{
    display: inline-block;
    margin-left:auto; 
    margin-right:auto;
    width: 60%;
    display: table;
    margin: 1em auto;
}
.page_name {
    margin: 1em auto;
    display: table;
    font-size: 2.2em;
}
.page_top .hr_1{
    margin: 2em;
}
.page_path { 
    margin-left: 4%;
    font-size: 0.6em;
    color: rgb(180, 180, 180);
}
.product-list {
   display: inline-block;
   justify-content: center;
   text-align: center;
   position: relative;
}
.product-list_1{
   display: flex;
   margin-left: 35em;
   text-align: center;    
   align-items: stretch;
   flex-direction: row;
}
.product-list_2 {
    display: flex;
    justify-content: center;
    text-align: center;
}
.product-works:hover img {
    transform: scale(1.2); 
}